/* || GENERAL STYLES */

@font-face {
    font-family: 'Gotham Bold';
    src: url('fonts/GothamBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/GothamBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('fonts/GothamLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('fonts/GothamMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@page {
    margin: 0 !important;
    padding: 0 !important;
}

html {
    margin: 40px 45px !important;
    padding: 0 !important;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
}

/* || SECTION 1 (STEPS) */

.section-1 {
    height: 45%;
    width: 100%;
}

.container {
    text-align: justify;
}

.step {
    display: inline-block;
    width: calc(33.33% - 5px);
    margin: 5px;
    vertical-align: top;
    box-sizing: border-box;
}

.container::after {
    content: "";
    display: inline-block;
    width: 100%;
}