<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <title>Self-Sign Online</title>
</head>
<body>
    <h1>Self-Sign Online</h1>

    <form 
        method="POST"  
        action="../generate.php"
    >
        <label for="sim">
            SIM Number
        </label>
        <input 
            type="text" 
            name="sim" 
            id="sim"
        >

        <button>Generate PDF</button>
    </form>
</body>
</html>